# Azure az webapp deployment details
.azure
*_env

# Byte-compiled / optimized / DLL files
__pycache__/


# Distribution / packaging
.env
.Python
build/

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# NPM
npm-debug.log*
node_modules
static/
.DS_Store
